@use './../../variables' as vars;

//----- FRIEND BAR --------

.friendBarIconBox {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friendBarUserName {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.friendBarUserName:hover {
    color: vars.$primary-color ;
}

.friendBarRightBox {
    height: 75px;
    width: 150px;
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.friendBarIcon {
    height: 30px;
    width: 30px;
    color: vars.$primary-color;
    cursor: pointer;
}

.friendBarIcon:hover {
    color: vars.$icon-hover-color ;
}

.friendBarIcon:active {
    color: vars.$primary-color;
    filter: brightness(0.7);
}

.newMessageNotification {
    position: absolute;
    top: -10px;
    left: -60px;
    background-color: blue;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;

    user-select: none;
    -webkit-user-select: none;

    animation: blink 2s forwards;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* =========================
   MOBILE (phones)
   ========================= */

@media (max-width: vars.$mobile-width) {
    .friendBarUserName {
        font-size: 18px;
        margin-left: 5px;
    }

    .friendBarIcon {
        height: 22px;
        width: 22px;
    }

    .friendBarRightBox {
        width: 90px;
        margin-right: 30px;
    }
}