@use './../variables' as vars;

// confirm account

.confirmAccountBody {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 80px;
    max-width: 800px;
    width: 100%;
}

#logo.confirmAccount {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 80px;
    width: 200px;
    background-image: url("../../../gfx/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.confirmAccount.icon {
    font-size: 60px;
    margin-bottom: 20px;
}

.confirmAccount.thanks {
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 10px;
}

.confirmAccount.mainText {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    color: vars.$btn-color;
    margin: 50px;
}

.errorText {
    color: red;
}

.successText {
    color: green;
}

// logging help

.loggingHelpBody {
    background-color: vars.$panel-color;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 80px;
    max-width: 600px;
    border-radius: 15px;
    width: 100%;
}

.loggingHelp.mainText {
    font-size: 18px;
    text-align: center;
}

.loggingHelp.btnWrapper {
    margin-top: 25px;
}

.btn2.link {
    margin: 2px;
}

.btn2.link:hover {
    background: none;
}

.loginPanel.small {
    margin-top: 80px;
    justify-content: space-around;
    height: 350px;
}

.loggingHelp.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}